{% extends "admin/change_form.html" %}
{% load admin_urls %}

{% block object-tools-items %}
  {{ block.super }}
  {% if original and original.id %}
    <li>
      <a
        href="{% url 'admin:emails_email_add' %}?recipients={{ original.id }}"
        class="send-email-btn"
        title="Send an email to this contact"
      >
        Send Email
      </a>
    </li>
  {% endif %}
{% endblock %}

{% block after_field_sets %}
  {% for fieldset in temp_contact_form %}
    {% include "admin/includes/fieldset.html" %}
  {% endfor %}
  {{ block.super }}
{% endblock after_field_sets %}
