{% extends 'base.html' %}
{% block title %} Password changed successfully {% endblock %}

{% block content %}
    <div class="bg-white shadow rounded-2 p-5">
        <div class="fs-2">
            Password changed successfully
        </div>
        <hr/>
        <div>
            Your password was changed successfully.
        </div>
        <div>
            <div class="d-grid gap-3 d-md-flex justify-content-md-start mt-3">
                <a class="btn btn-secondary" href="{% url 'home' %}">Go back</a>

            </div>
        </div>

    </div>
{% endblock %}