{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}Enter new password{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}

    <div class="bg-white shadow rounded-2 p-5 mb-4">
      <div class="fs-2">Enter new password</div>
      <hr />
      <div>Please enter your new password twice so we can verify you typed it in correctly.</div>
      <div class=" p-4 fit-content ">
        {% for field in form %}
          <div class="my-2">
            <div class="label mb-1">{{ field.label }}<span class="text-danger">*</span></div>
            {{ field|add_classes:"form-control" }}
            {% for error in field.errors %}
              <div class="text-danger fs-09 ">{{ error|escape }}</div>
            {% endfor %}
            {% if field.help_text %}
              <div class="text-muted fs-09 form-help-text">{{ field.help_text|safe }}</div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="bg-white shadow py-4 px-5 rounded-2 ">
      <div class="text-muted"><span class="text-danger">*</span> Required field</div>
      <div class="d-grid gap-3 d-md-flex justify-content-md-end mt-2">
        <a class="btn btn-secondary button-gray-shadow " href="{% url 'login' %}">Cancel</a>
        <input class="btn btn-success button-success-shadow" type="submit" value="Change password" />
      </div>
    </div>
  </form>
{% endblock %}
