{% extends 'base.html' %}
{% load static custom_tags %}

{% block title %}{{ object.name }} | Group{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'record_detail.css' %}" />
  <link rel="stylesheet" href="{% static 'group_detail.css' %}" />
{% endblock %}

{% block content %}
  <div class="contact-container">
    <div class="left-section fit-content-height">
      <div class="main-color-light  mb-4 p-5 shadow rounded-2">
        <div class="mx-auto mb-3 p-3 rounded-circle d-flex align-items-center justify-content-center icon-wrapper">
          <i class="bi bi-buildings-fill"></i>
        </div>
        <hr class="my-5" />

        <div class="mx-auto fit-content">
          <div class="fit-content">
            <div class="label">Name</div>
            <div class="fs-2 mb-3">{{ object.name }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-section fit-content-height">
      <div class="bg-white mb-4 p-5 shadow rounded-2">
        <div class="fs-2 mb-3">Search a contact to add it to the group</div>
        <form
          hx-get="{% url 'search-contact' %}?group={{ object.pk }}"
          hx-target="div.select-contact-list"
          hx-swap="outerHTML"
          hx-indicator=".progress"
          class="form-inline d-flex"
        >
          <div id="name" class="me-2">
            <input type="text" name="name" class="form-control" id="id_name" class="width-fit-parent" />
          </div>

          <button type="submit" class="btn btn-main-color width-100 ms-2">Search</button>
        </form>

        <div class="progress my-2">
          <div class="indeterminate"></div>
        </div>

        <div class="select-contact-list"></div>

        <hr class="my-5" />
        <div class="fs-2 mb-3">Selected contact<span class="text-danger">*</span></div>
        <div class="m-5 p-5  text-center main-color-light mx-auto fit-content rounded-3 label none-selected-message">
          No contact selected. Search and select a contact to add a new member to the group.
        </div>

        <div
          class="main-color-light m-5 p-5 shadow mb-4 fit-content mx-auto rounded-2 selected-contact"
          hidden="hidden"
        >
          <div class="d-flex flex-wrap align-items-center justify-content-center">
            <div class="me-4 mb-3 p-3 rounded-circle d-flex align-items-center justify-content-center icon-wrapper">
              <i class="bi bi-person-lines-fill"></i>
            </div>

            <div class="mx-auto d-flex flex-wrap justify-content-center fit-content">
              <div class="me-4 fit-content">
                <div class="label">Title</div>
                <div class="fs-3 mb-3 selected-title"></div>
              </div>

              <div class="me-4 fit-content">
                <div class="label">First Name</div>
                <div class="fs-3 mb-3 selected-first-name"></div>
              </div>

              <div class="fit-content ">
                <div class="label">Last Name</div>
                <div class="fs-3 mb-3 selected-last-name"></div>
              </div>
            </div>
          </div>

          <div class="fit-content mx-auto">
            <div class="label">Contact Id</div>
            <div class="fs-3 mb-3 text-break selected-contact-id"></div>
          </div>
        </div>
        {% for error in form.new_member_id.errors %}
          <div class="text-danger my-1">{{ error|escape }}</div>
        {% endfor %}
      </div>

      <div class="bg-white  mb-4 p-5 shadow rounded-2">
        <form method="post" novalidate>
          {% csrf_token %}
          <div hidden="hidden">{{ form.new_member_id|add_classes:'member' }}</div>
          <div class="text-muted"><span class="text-danger">*</span> Required field</div>
          <div class="d-grid gap-3 d-md-flex justify-content-md-end mt-2">
            <a class="btn btn-secondary button-gray-shadow " href="{% url 'group-detail' object.pk %}">Cancel</a>
            <input class="btn btn-success button-success-shadow" type="submit" value="Add Member" />
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/add_member_form.js' %}"></script>
  <script src="{% static 'js/htmx.min.js' %}" defer></script>
  <script>
    function selectContact(id) {
      let selectedElm = document.getElementById("contact_" + id);
      let activeElm = document.getElementsByClassName("contact-result active");
      if (activeElm.length > 0) {
        for (let i = 0; i < activeElm.length; i++) {
          activeElm[i].classList.remove("active");
        }
      }
      selectedElm.classList.add("active");

      document.getElementsByClassName("selected-contact")[0].hidden = false;
      document.getElementsByClassName("none-selected-message")[0].hidden = true;
      document.getElementsByClassName("selected-title")[0].innerHTML = selectedElm.dataset.title;
      document.getElementsByClassName("selected-first-name")[0].innerHTML = selectedElm.dataset.firstName;
      document.getElementsByClassName("selected-last-name")[0].innerHTML = selectedElm.dataset.lastName;
      document.getElementsByClassName("selected-contact-id")[0].innerHTML = selectedElm.dataset.contactId;

      document.getElementById("id_new_member_id").value = id;
    }
  </script>
{% endblock %}
