{% extends "base.html" %}
{% load static custom_tags %}

{% block title %}{{ object }} | Contact{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'record_detail.css' %}" />
  <link rel="stylesheet" href="{% static 'email_list.css' %}" />
{% endblock %}

{% block content %}
  <div class="contact-container">
    <div class="left-section fit-content-height">
      <div class="main-color-light  mb-4 p-5 shadow rounded-2">
        <div class="mx-auto mb-3 p-3 rounded-circle d-flex align-items-center justify-content-center icon-wrapper">
          <i class="bi bi-person-lines-fill"></i>
        </div>
        <hr class="my-5" />

        <div class="mx-auto fit-content">
          <div class="d-flex flex-wrap fit-content">
            {% if object.title %}
              <div class="me-4 fit-content">
                <div class="mb-3">{% record_detail_field object.title "Title" False "fs-2" True %}</div>
              </div>
            {% endif %}

            {% if object.first_name %}
              <div class="fit-content">
                <div class="mb-3">{% record_detail_field object.first_name "First Name" False "fs-2" True %}</div>
              </div>
            {% endif %}
          </div>

          {% if object.last_name %}
            <div class="fit-content">
              <div class="mb-3">{% record_detail_field object.last_name "Last Name" False "fs-2" True %}</div>
            </div>
          {% endif %}
        </div>
        <hr class="my-5" />
        <div class="d-grid gap-3 mt-3 d-md-flex justify-content-md-center">
          <a href="{% url 'contact-detail' object.pk %}" type="button" class="btn btn-light">See Contact Info</a>
        </div>
      </div>
    </div>

    <div class="right-section fit-content-height">
      <div class="p-5 shadow bg-white mb-4 rounded-2">
        <div class="fs-2">Emails History</div>
        <div
          class="emails-section"
          hx-trigger="load"
          hx-swap="outerHTML"
          hx-indicator=".progress"
          hx-get="{% url 'emails-history' %}?contact={{ object.id }}"
        ></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/htmx.min.js' %}" defer></script>
{% endblock %}
