{% load custom_tags %}
<div class="create-email-template">
    <div class="fs-4">Create email template</div>
    <form method="post" novalidate
          hx-post="{% url 'email-template-create' %}"
          hx-target="div.create-email-template"
          hx-swap="outerHTML">{% csrf_token %}

        {% if form.non_field_errors|length > 0 %}
            <div class="p-5 shadow  bg-white mb-4 rounded-2">

                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}

            </div>
        {% endif %}

        <div class="fit-content">
            <div class="label">
                Name<span class="text-danger">*</span>
            </div>
            <div class="mb-3">
                {{ form.name|add_classes:'form-control' }}
                {% for error in form.name.errors %}
                    <div class="text-danger my-1">
                        {{ error|escape }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="fit-content">
            <div class="label">
                Html content<span class="text-danger">*</span>
            </div>
            <div class="mb-3">
                {{ form.html_content|add_classes:'form-control' }}
                {% for error in form.html_content.errors %}
                    <div class="text-danger my-1">
                        {{ error|escape }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <hr class="my-4" />

        <div class="d-grid gap-3 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-secondary" onclick="closeCreateTemplateDialog()">Close</button>
            <button type="submit" class="btn btn-main-color">Create</button>
        </div>
    </form>
</div>