
<div class="emails-section">

    <div class="progress my-1">
        <div class="indeterminate"></div>
    </div>

    <div>
        <div class="d-flex gap-3 flex-wrap justify-content-between border-bottom p-2">
            <div class="label">Subject</div>
            <div class="date-column label">
                Date
            </div>
        </div>
        {% for email in object_list %}
            <div class="position-relative my-2 email-row">
                <a class="stretched-link" href="{% url 'home' %}"></a>
                <div class="d-flex gap-3 flex-wrap justify-content-between p-2">

                    <div class="fit-content">{{ email }}</div>
                    <div class="fit-content text-muted date-column">
                        {{ email.created_at }}
                    </div>
                </div>
            </div>



        {% endfor %}
    </div>

    {% if paginator.num_pages > 1 %}
        <nav class="fit-content mx-auto">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link text-main-color" role="button"
                           hx-target="div.emails-section"
                           hx-trigger="click"
                           hx-indicator=".progress"
                           hx-get="{% url 'emails-history' %}?page={{ page_obj.previous_page_number }}&contact={{ request.GET.contact }}&group={{ request.GET.group }}"
                           hx-swap="outerHTML">Previous</a>
                    </li>
                {% endif %}
                {% for i in pagination_range %}
                    <li class="page-item">
                        {% if page_obj.number == i %}
                            <a class="page-link active">{{ i }}</a>
                        {% else %}
                            <a class="page-link text-main-color" {% if i != paginator.ELLIPSIS %}role="button"
                               hx-target="div.emails-section"
                               hx-trigger="click"
                               hx-indicator=".progress"
                               hx-get="{% url 'emails-history' %}?page={{ i }}&contact={{ request.GET.contact }}&group={{ request.GET.group }}"
                               hx-swap="outerHTML"{% endif %}>{{ i }}</a>
                        {% endif %}
                    </li>

                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link text-main-color" role="button"
                           hx-target="div.emails-section"
                           hx-trigger="click"
                           hx-indicator=".progress"
                           hx-get="{% url 'emails-history' %}?page={{ page_obj.next_page_number }}&contact={{ request.GET.contact }}&group={{ request.GET.group }}"
                           hx-swap="outerHTML">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
</div>