{% extends 'base.html' %}
{% load i18n custom_tags static %}
{% block title %} Emails History {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'email_list.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="bg-white p-5 mb-4 rounded-2 shadow">
        <div class="fs-1">
            Emails History
        </div>

    </div>
    <div class="bg-white p-5 mb-4 rounded-2 shadow">
        <form hx-get="{% url 'emails-history' %}"
          hx-target="div.emails-section"
          hx-swap="outerHTML"
          hx-indicator=".progress"
          class="form-inline">
            <div class="fs-4">
                Filter by:
            </div>
            <div class="my-2" style="max-width: 600px">
                <div class="label">{% trans "Contact" %}</div>
                <div class=" ">
                    {{ filter.form.contact|add_classes:" contact" }}
                </div>
            </div>

            <div class="d-grid gap-3 d-md-flex justify-content-md-start my-2" >
                <button class="btn btn-main-color" type="submit">Apply</button>
            </div>
        </form>
    </div>
    <div class="bg-white p-5 mb-4 rounded-2 shadow">
        <div class="emails-section" hx-trigger="load" hx-swap="outerHTML" hx-indicator=".progress"
             hx-get="{% url 'emails-history' %}">

        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{% static 'js/emails_fiter_form.js' %}"></script>

    <script src="{% static 'js/htmx.min.js' %}" defer></script>
{% endblock %}