{% extends "base.html" %}
{% load static custom_tags %}
{% block title %}Home page{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home_page.css' %}">
    <link rel="stylesheet" href="{% static 'record_detail.css' %}">
    <link rel="stylesheet" href="{% static 'group_detail.css' %}">
{% endblock %}

{% block content %}
    <div class="bg-white rounded-2 shadow p-5 mb-4">
        <div class=" text-muted">
            Welcome to <span class="text-nowrap text-main-color fs-1">Ozone Contact DB</span>
        </div>

    </div>

    <div class="home-container">
        <div class="left-section fit-content-height">
            <div class="bg-white shadow rounded-2 p-5">
                <div class="fs-2 mb-3">
                    Search contacts
                </div>
                <hr/>

                <form hx-get="{% url 'search-contact' %}?link_page=True"
                    hx-target="div.select-contact-list"
                    hx-swap="outerHTML"
                    hx-indicator=".progress"
                    class="form-inline fit-content mx-auto my-5">

                    <div class="label">Search for a contact</div>
                    <div class="d-flex">
                        <div id="name" class="me-2">
                            <input type="text" name="name" class="form-control" id="id_name" >
                        </div>

                        <button type="submit" class="btn btn-main-color ms-2">Search</button>
                    </div>

                </form>

                <div class="progress my-2">
                    <div class="indeterminate"></div>
                </div>

                <div class="select-contact-list p-5 border rounded-2">
                    <div class="text-muted text-center">No contact</div>
                </div>
            </div>

        </div>
        <div class="right-section fit-content-height">
            <div class="main-color-light shadow rounded-2 p-5">
                <ol class="">
                    <li class="my-3">
                        <a class="text-decoration-none" href="{% url 'contact-list' %}">Contacts</a>
                        <ol class="sublist">
                            {% if request.user.can_edit %}
                                <li class="my-3"><a class="text-decoration-none " href="{% url 'contact-create' %}">Add contact</a></li>
                                <li class="my-3"><a class="text-decoration-none " href="{% url 'merge-contacts' %}">Merge contacts</a></li>
                            {% endif %}
                        </ol>
                    </li>
                    <li class="my-3">
                        <a class="text-decoration-none" href="{% url 'group-list' %}">Groups</a>
                        <ol class="sublist">
                            {% if request.user.can_edit %}
                                <li class="my-3"><a class="text-decoration-none " href="{% url 'group-create' %}">Add group</a></li>
                                <li class="my-3"><a class="text-decoration-none " href="{% url 'groups-add-multiple-members' %}">Add members to groups</a></li>
                            {% endif %}
                        </ol>
                    </li>
                    {% if request.user.can_import %}
                        <li class="my-3">
                            <a class="text-decoration-none" href="{% url 'import-contacts' %}">Import</a>
                            <ol class="sublist">
                                <li class="my-3"><a class="text-decoration-none " href="{% url 'sync-kronos' %}">Import from kronos</a></li>
                                <li class="my-3"><a class="text-decoration-none " href="{% url 'conflict-resolution' %}">Resolve conflicts</a></li>
                            </ol>
                        </li>
                    {% endif %}
                    {% if request.user.can_send_mail %}
                        <li class="my-3">
                            <a class="text-decoration-none" href="{% url 'emails-page' %}">Email</a>
                            <ol class="sublist">
                                <li class="my-3"><a class="text-decoration-none " href="{% url 'emails-history' %}">Emails history</a></li>
                            </ol>
                        </li>
                    {% endif %}

                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
{% endblock %}