{% extends 'base.html' %}
{% load static custom_tags %}

{% block extra_css %}
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block title %}
  Merge contacts
{% endblock %}

{% block content %}
  <div class="bg-white rounded shadow mb-4 p-5">
    <div class="fs-2">Merge contacts</div>

    <hr />
    <div
      class="form-container"
      hx-get="{% url 'merge-first-step' %}"
      hx-target="div.form-container"
      hx-swap="outerHTML"
      hx-trigger="load"
    ></div>
  </div>

  <div class="bg-white rounded shadow p-5">
    <div class="text-muted"><span class="text-danger">*</span> Required field</div>
  </div>
{% endblock %}

{% block extra_js %}
  <script
    src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
    crossorigin="anonymous"
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script src="{% static 'js/htmx.min.js' %}" defer></script>
{% endblock %}
