{% extends "base.html" %}

{% load static %}

{% block title %}{{ object }} | Contact{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'record_detail.css' %}">
{% endblock %}

{% block content %}

    <div class="contact-container">
        <div class="left-section shadow  p-5 bg-white fit-content-height">
            <div class="mx-auto mb-3 p-3 rounded-circle d-flex align-items-center justify-content-center icon-wrapper">
                <i class="bi bi-person-lines-fill text-white"></i>
            </div>
            <hr class="my-5" />

            <div class="mx-auto fit-content">

                <div class="d-flex flex-wrap fit-content">
                    {% if object.title %}
                        <div class="me-4 fit-content">
                            <div class="label">
                                Title
                            </div>
                            <div class="fs-2 mb-3">
                                {{ object.title }}
                            </div>
                        </div>
                    {% endif %}

                    {% if object.first_name %}
                        <div class="fit-content">
                            <div class="label">
                                First Name
                            </div>
                            <div class="fs-2 mb-3">
                                {{ object.first_name }}
                            </div>
                        </div>
                    {% endif %}
                </div>

                {% if object.last_name %}
                    <div class="fit-content">
                        <div class="label">
                            Last Name
                        </div>
                        <div class="fs-2 mb-3">
                            {{ object.last_name }}
                        </div>
                    </div>
                {% endif %}

            </div>

            {% if request.user.can_edit %}
                <hr class="my-5" />

            <div class="mx-auto fit-content flex-nowrap">

                <a href="/" type="button" class="btn btn-warning me-4 button-warning-shadow"><i class="bi bi-pencil me-1"></i>Edit</a>
                <a href="/" type="button" class="btn btn-danger button-danger-shadow"><i class="bi bi-trash me-1"></i>Delete</a>

            </div>
            {% endif %}


        </div>

        <div class="right-section fit-content-height">
            <div class="p-5 shadow  bg-white mb-4">
                <div class="">
                    <div class="fs-2">
                        Contact Id
                    </div>
                    <div>
                        {% if object.contact_id %}
                            {{ object.contact_id }}
                        {% else %}
                            <span class="text-muted">None</span>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="py-5 shadow  details-container bg-white mb-4">
                <div class="m-3">
                    <div class="fs-2">
                        Organization
                    </div>
                    <div>
                        {% if object.organization %}
                            {{ object.organization }}
                        {% else %}
                            <span class="text-muted">None</span>
                        {% endif %}
                    </div>
                </div>
                <div class="m-3">
                    <div class="fs-2">
                        Designation
                    </div>
                    <div>
                        {% if object.designation %}
                            {{ object.designation }}
                        {% else %}
                            <span class="text-muted">None</span>
                        {% endif %}
                    </div>
                </div>
                <div class="m-3">
                     <div class="fs-2">
                        Department
                    </div>
                    <div>
                        {% if object.department %}
                            {{ object.department }}
                        {% else %}
                            <span class="text-muted">None</span>
                        {% endif %}
                    </div>
                </div>
                <div class="m-3">
                    <div class="fs-2">
                        Affiliation
                    </div>
                    <div>
                        {% if object.affiliation %}
                            {{ object.affiliation }}
                        {% else %}
                            <span class="text-muted">None</span>
                        {% endif %}
                    </div>
                </div>

            </div>

            <div class="py-5 shadow  details-container bg-white mb-4">
                <div class="m-3">
                    <div class="fs-2">
                        Phones
                    </div>
                    <div>
                        {% if object.phones|length > 0 %}
                            {% for phone in object.phones %}
                                <div class="d-block">{{ phone }}</div>
                            {% endfor %}
                        {% else %}
                            <span class="text-muted">None</span>
                        {% endif %}
                    </div>
                </div>
                <div class="m-3">
                    <div class="fs-2">
                        Mobiles
                    </div>
                    <div>
                        {% if object.mobiles|length > 0 %}
                            {% for mobile in object.mobiles %}
                                <div class="d-block">{{ mobile }}</div>
                            {% endfor %}
                        {% else %}
                            <span class="text-muted">None</span>
                        {% endif %}
                    </div>
                </div>
                <div class="m-3">
                    <div class="fs-2">
                        Emails
                    </div>
                    <div>
                        {% if object.emails|length > 0 %}
                            {% for email in object.emails %}
                                <a href="mailto:{{ email }}" class="text-decoration-none d-block">{{ email }}</a>
                            {% endfor %}
                        {% else %}
                            <span class="text-muted">None</span>
                        {% endif %}
                    </div>
                </div>
                <div class="m-3">
                    <div class="fs-2">
                        Email ccs
                    </div>
                    <div>
                        {% if object.email_ccs|length > 0 %}
                            {% for email_cc in object.email_ccs %}
                                <a href="mailto:{{ email_cc }}" class="text-decoration-none d-block">{{ email_cc }}</a>
                            {% endfor %}
                        {% else %}
                            <span class="text-muted">None</span>
                        {% endif %}
                    </div>
                </div>
                <div class="m-3">
                    <div class="fs-2">
                        Faxes
                    </div>
                    <div>
                        {% if object.faxes|length > 0 %}
                            {% for fax in object.faxes %}
                                <div class="d-block">{{ fax }}</div>
                            {% endfor %}
                        {% else %}
                            <span class="text-muted">None</span>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="py-5 shadow  details-container bg-white">
                <div class="m-3">
                    <div class="fs-2">
                        Is in mailing list
                    </div>
                    <div class="{% if object.is_in_mailing_list %} text-success {% else %} text-danger {% endif %}">
                        {{ object.is_in_mailing_list }}
                    </div>
                </div>
                <div class="m-3">
                    <div class="fs-2">
                        Is use organization address
                    </div>
                    <div class="{% if object.is_use_organization_address %} text-success {% else %} text-danger {% endif %}">
                        {{ object.is_use_organization_address }}
                    </div>
                </div>
                <div class="m-3">
                    <div class="fs-2">
                        Address
                    </div>
                    <div>
                        {% if object.address or object.city or object.state or object.country or object.postal_code %}

                            {% if object.address %}
                                <div class="label">
                                    Address
                                </div>
                                <div class="mb-1">
                                    {{ object.address }}
                                </div>
                            {% endif %}

                            {% if object.city %}
                                <div class="label">
                                    City
                                </div>
                                <div class="mb-1">
                                    {{ object.city }}
                                </div>
                            {% endif %}

                            {% if object.state %}
                                <div class="label">
                                    State
                                </div>
                                <div class="mb-1">
                                    {{ object.state }}
                                </div>
                            {% endif %}

                            {% if object.country %}
                                <div class="label">
                                    Country
                                </div>
                                <div class="mb-1">
                                    {{ object.country }}
                                </div>
                            {% endif %}

                            {% if object.postal_code %}
                                <div class="label">
                                    Postal Code
                                </div>
                                <div class="">
                                    {{ object.postal_code }}
                                </div>
                            {% endif %}

                        {% else %}
                            <span class="text-muted">None</span>
                        {% endif %}
                    </div>
                </div>
                <div class="m-3">
                    <div class="fs-2">
                        Notes
                    </div>
                    <div>
                        {% if object.notes %}
                            {{ object.notes }}
                        {% else %}
                            <span class="text-muted">None</span>
                        {% endif %}
                    </div>
                </div>
                <div class="m-3">
                     <div class="fs-2">
                        Birth date
                    </div>
                    <div>
                        {% if object.birth_date %}
                            {{ object.birth_date }}
                        {% else %}
                            <span class="text-muted">None</span>
                        {% endif %}
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}