{% extends "base.html" %}

{% load static custom_tags %}

{% block title %}{{ object }} | Contact{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'record_detail.css' %}">
{% endblock %}

{% block content %}

    <div class="contact-container">
        <div class="left-section fit-content-height">
            <div class="main-color-light  mb-4 p-5 shadow rounded-2">
                <div class="mx-auto mb-3 p-3 rounded-circle d-flex align-items-center justify-content-center icon-wrapper">
                    <i class="bi bi-person-lines-fill"></i>
                </div>
                <hr class="my-5" />

                <div class="mx-auto fit-content">

                    <div class="d-flex flex-wrap fit-content">
                        {% if object.title %}
                            <div class="me-4 fit-content">
                                <div class="label">
                                    Title
                                </div>
                                <div class="fs-2 mb-3">
                                    {{ object.title }}
                                </div>
                            </div>
                        {% endif %}

                        {% if object.first_name %}
                            <div class="fit-content">
                                <div class="label">
                                    First Name
                                </div>
                                <div class="fs-2 mb-3">
                                    {{ object.first_name }}
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    {% if object.last_name %}
                        <div class="fit-content">
                            <div class="label">
                                Last Name
                            </div>
                            <div class="fs-2 mb-3">
                                {{ object.last_name }}
                            </div>
                        </div>
                    {% endif %}

                </div>

                {% if request.user.can_edit %}
                    <hr class="my-5" />


                <div class="d-grid gap-3 d-md-flex justify-content-md-center">
                    <a href="{% url 'contact-update' object.pk %}" type="button" class="btn btn-main-color"><i class="bi bi-pencil me-1"></i>Edit</a>
                    <a href="{% url 'contact-delete' object.pk %}" type="button" class="btn btn-danger button-danger-shadow"><i class="bi bi-trash me-1"></i>Delete</a>
                </div>
                {% endif %}
            </div>

            <div class="p-5 mb-4 shadow main-color-light rounded-2">

                <div class="m-3">
                    <div class="fs-2">
                        Position
                    </div>
                    {% if object.designation or object.department or object.affiliation %}
                        {% if object.designation %}
                            <div class="mb-2">
                                <div class="label">
                                    Designation
                                </div>
                                <div>
                                    {{ object.designation }}
                                </div>
                            </div>
                        {% endif %}
                        {% if object.department %}
                            <div class="mb-2">
                                 <div class="label">
                                    Department
                                </div>
                                <div>
                                    {{ object.department }}
                                </div>
                            </div>
                        {% endif %}
                        {% if object.affiliation %}
                            <div class="mb-2">
                                <div class="label">
                                    Affiliation
                                </div>
                                <div>
                                    {{ object.affiliation }}
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        <span class="text-muted">None</span>
                    {% endif %}
                </div>

                <hr class="my-4">

                <div class="mx-3 mb-3">
                    <div class="fs-2">
                        Organization
                    </div>
                    {% if object.organization %}
                        {% if object.organization.name %}
                            <div class="mb-2">
                                <div class="label">
                                    Name
                                </div>
                                <div>
                                    {{ object.organization.name }}
                                </div>
                            </div>
                        {% endif %}
                        <div class="collapse" id="collapseOrg">

                            {% if object.organization.organization_id %}
                                <div class="mb-2">
                                    <div class="label">
                                        Organization Id
                                    </div>
                                    <div class="text-break">
                                        {{ object.organization.organization_id }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if object.organization.acronym %}
                                <div class="mb-2">
                                    <div class="label">
                                        Acronym
                                    </div>
                                    <div>
                                        {{ object.organization.acronym }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if object.organization.organization_type_id %}
                                <div class="mb-2">
                                    <div class="label">
                                        Organization Type Id
                                    </div>
                                    <div class="text-break">
                                        {{ object.organization.organization_type_id }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if object.organization.organization_type %}
                                <div class="mb-2">
                                    <div class="label">
                                        Organization Type
                                    </div>
                                    <div>
                                        {{ object.organization.organization_type }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if object.organization.government %}
                                <div class="mb-2">
                                    <div class="label">
                                        Government
                                    </div>
                                    <div>
                                        {{ object.organization.government }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if object.organization.government_name %}
                                <div class="mb-2">
                                    <div class="label">
                                        Government Name
                                    </div>
                                    <div>
                                        {{ object.organization.government_name }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if object.organization.country %}
                                <div class="mb-2">
                                    <div class="label">
                                        Country
                                    </div>
                                    <div>
                                        {{ object.organization.country }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if object.organization.country_name %}
                                <div class="mb-2">
                                    <div class="label">
                                        Country Name
                                    </div>
                                    <div>
                                        {{ object.organization.country_name }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="d-grid gap-3 d-md-flex justify-content-md-center mt-4">
                            <button class="btn btn-main-color text-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOrg" aria-expanded="false" aria-controls="collapseOrg">
                                <span class="text-collapsed">More info</span>
                                <span class="text-expanded">Less info</span>
                            </button>
                        </div>
                    {% else %}
                        <span class="text-muted">None</span>
                    {% endif %}
                </div>
            </div>

            {% with object.group_set.all as groups %}
                {% if groups|length > 0 %}
                    <div class="p-5 shadow main-color-light rounded-2">
                        <div class="m-3">
                            <div class="fs-2">
                                Groups
                            </div>

                            <div class="mt-3">
                                <div class="d-flex gap-2 flex-wrap">
                                    {% for group in groups %}
                                        <div class="white p-2  fit-content rounded-2 group-container position-relative">
                                            <a href="{% url 'group-detail' group.pk %}" class="stretched-link"></a>
                                            <div class="d-flex flex-nowrap align-items-center justify-content-center">
                                                <div class="mx-2 p-2 rounded-circle d-flex align-items-center justify-content-center group-icon-wrapper">
                                                    <i class="bi bi-buildings-fill group-icon"></i>
                                                </div>


                                                <div class="me-1 fit-content">
                                                    <div class=" ">
                                                        {{ group.name }}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    </div>
                {% endif %}
            {% endwith %}
        </div>



        <div class="right-section fit-content-height">

            <div class="p-5 shadow  bg-white mb-4 rounded-2">
                {% record_detail_field object.contact_id "Contact Id" %}
            </div>

            <div class="p-5 shadow details-container bg-white mb-4 rounded-2">

                {% record_detail_field object.honorific "Honorific" %}

                {% record_detail_field object.respectful "Respectful" %}

            </div>

            <div class="py-5 shadow  details-container bg-white mb-4 rounded-2">

                {% record_detail_field object.phones "Phones" %}
                {% record_detail_field object.mobiles "Mobiles" %}
                {% record_detail_field object.emails "Emails" True %}
                {% record_detail_field object.email_ccs "Email Ccs" True %}
                {% record_detail_field object.faxes "Faxes" %}
            </div>


            <div class="p-5 shadow details-container bg-white mb-4 rounded-2">
                {% record_detail_field object.primary_lang "Primary language" %}
                {% record_detail_field object.second_lang "Second language" %}
                {% record_detail_field object.third_lang "Third language" %}
            </div>

            <div class="py-5 shadow  details-container bg-white mb-4 rounded-2">
                {% record_detail_field object.focal_point "Focal point" %}
                {% record_detail_field object.org_head "Head of organization" %}
                {% record_detail_field object.is_in_mailing_list "Is in mailing list" %}
                {% record_detail_field object.is_use_organization_address "Is use organization address" %}

                <div class="m-3">
                    <div class="fs-2">
                        Address
                    </div>
                    <div>
                        {% if object.address or object.city or object.state or object.country or object.postal_code %}

                            {% if object.address %}
                                <div class="label">
                                    Address
                                </div>
                                <div class="mb-2">
                                    {{ object.address }}
                                </div>
                            {% endif %}

                            {% if object.city %}
                                <div class="label">
                                    City
                                </div>
                                <div class="mb-2">
                                    {{ object.city }}
                                </div>
                            {% endif %}

                            {% if object.state %}
                                <div class="label">
                                    State
                                </div>
                                <div class="mb-2">
                                    {{ object.state }}
                                </div>
                            {% endif %}

                            {% if object.country %}
                                <div class="label">
                                    Country
                                </div>
                                <div class="mb-2">
                                    {{ object.country }}
                                </div>
                            {% endif %}

                            {% if object.postal_code %}
                                <div class="label">
                                    Postal Code
                                </div>
                                <div class="">
                                    {{ object.postal_code }}
                                </div>
                            {% endif %}

                        {% else %}
                            <span class="text-muted">None</span>
                        {% endif %}
                    </div>
                </div>

                {% record_detail_field object.notes "Notes" %}
                {% record_detail_field object.birth_date "Birth Date" %}

            </div>

             <div class="py-5 shadow bg-white rounded-2">
                <div class="">
                    <div class="fs-2 mx-5">
                        Registration statuses
                    </div>

                    <div class="registrations-section" hx-trigger="load" hx-swap="outerHTML" hx-indicator=".progress"
                         hx-get="{% url 'registration-status-list' %}?page=1&contact={{ object.pk }}">

                    </div>

                </div>
             </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
{% endblock %}