{% load custom_tags %}

<div class="list-container" data-page="{{ page_obj.number }}">
  {% for conflict in object_list %}
    <div class="border rounded my-4 " id="id_container_{{ conflict.id }}">
      <div class="overflow-scroll">
        <div class="inner-container">
          <div class="d-grid rounded-top overflow-hidden" style="grid-template-columns: 50% 50%">
            <div class="main-color-light border-end border-bottom p-2">
              <div class="mx-2 fw-bold">
                {{ conflict.record }}
                <span class="text-muted fst-italic fs-09">(old data)</span>
              </div>
            </div>
            <div class=" p-2 border-bottom">
              <div class="mx-2 fw-bold">
                {{ conflict }}
                <span class="text-muted fst-italic fs-09">(incoming data)</span>
              </div>
            </div>
          </div>

          <div class="collapse" id="id_collapse_{{ conflict.id }}">
            <div class="d-grid border-bottom rounded-bottom overflow-hidden" style="grid-template-columns: 50% 50%">
              <div class="main-color-light border-end p-2">
                <div class="mx-2">
                  {% for field in conflict|get_fields %}
                    {% conflict_field conflict.record conflict field.name field.verbose_name %}
                  {% endfor %}
                </div>
              </div>
              <div class="p-2">
                <div class="mx-2">
                  {% for field in conflict|get_fields %}
                    {% conflict_field conflict conflict.record field.name field.verbose_name %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-grid gap-3 p-2 d-md-flex justify-content-md-between">
        <button class="btn btn-main-color" onclick="openDialog('keep_old_data', {{ conflict.id }})">
          Keep old data
        </button>
        <button
          class="btn btn-light text-toggle"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#id_collapse_{{ conflict.id }}"
          aria-expanded="false"
          aria-controls="id_collapse_{{ conflict.id }}"
          onclick="scrollToElement('id_container_{{ conflict.id }}')"
        >
          <span class="text-collapsed">Show details</span>
          <span class="text-expanded">Hide details</span>
        </button>
        <button class="btn btn-secondary" onclick="openDialog('save_incoming_data', {{ conflict.id }})">
          Save incoming data
        </button>
      </div>
    </div>
  {% endfor %}

  <div class="progress my-4">
    <div class="indeterminate"></div>
  </div>

  {% if paginator.num_pages > 1 %}
    <nav class="fit-content mx-auto">
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a
              class="page-link text-main-color"
              role="button"
              hx-target="div.list-container"
              hx-trigger="click"
              hx-indicator=".progress"
              hx-get="{% url 'conflict-resolution' %}?page={{ page_obj.previous_page_number }}"
              hx-swap="outerHTML"
            >
              Previous
            </a>
          </li>
        {% endif %}
        {% for i in pagination_range %}
          <li class="page-item">
            {% if page_obj.number == i %}
              <a class="page-link active">{{ i }}</a>
            {% else %}
              <a
                class="page-link text-main-color"
                {% if i != paginator.ELLIPSIS %}
                  role="button" hx-target="div.list-container" hx-trigger="click" hx-indicator=".progress"
                  hx-get="{% url 'conflict-resolution' %}?page={{ i }}" hx-swap="outerHTML"
                {% endif %}
              >
                {{ i }}
              </a>
            {% endif %}
          </li>
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item">
            <a
              class="page-link text-main-color"
              role="button"
              hx-target="div.list-container"
              hx-trigger="click"
              hx-indicator=".progress"
              hx-get="{% url 'conflict-resolution' %}?page={{ page_obj.next_page_number }}"
              hx-swap="outerHTML"
            >
              Next
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
</div>
