<div class="resolve-conflict px-5 py-4">
  <form
    method="post"
    novalidate
    hx-post="{% url 'resolve-conflict' %}"
    hx-target="div.resolve-conflict"
    hx-swap="outerHTML"
  >
    {% csrf_token %}
    <div class="fs-4">
      Are you sure that you want to
      {% if SAVE_INCOMING_DATA %}override the old data{% elif KEEP_OLD_DATA %}discard incoming data{% endif %} for
      <span class="fw-bold">{{ contact }}</span>
      ?
    </div>

    <div hidden="hidden">{{ form }}</div>
    <hr class="my-4" />

    <div class="d-grid gap-3 d-md-flex justify-content-md-end">
      <button class="btn btn-secondary" type="button" onclick="closeDialog()">Cancel</button>
      <button class="btn btn-main-color" type="submit">Yes</button>
    </div>
  </form>
</div>
