{% extends "admin/events/prioritypass/badge/badge_base.html" %}
{% load static %}
{% load qr_code %}
{% load file_base64 %}

{% block head %}
  <style>
    .front {
      display: grid;
      grid-template-columns: 270px 90px;
      grid-template-rows: 80px auto min-content;
      overflow: hidden;
      padding-top: 3rem;
    }

    .logo {
      justify-self: start;
    }

    .badge-qr {
      justify-self: center;
    }

    .photo {
      align-self: center;
    }

    .participant-details {
      justify-self: start;
      align-self: center;
    }

    .first-name,
    .last-name,
    .country,
    .organization {
      max-width: 16rem;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.2;
    }

    .first-name {
      font-size: 12px;
      max-height: 14px;
      margin-bottom: 0.25rem;
    }

    .last-name {
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      max-height: 38px;
      margin-bottom: 0.25rem;
    }

    .country {
      margin-top: 0.5rem;
      font-size: 18px;
    }

    .organization {
      font-size: 12px;
      max-height: 45px;
    }

    .pass-code {
      font-size: 8px;
      text-align: center;
      margin-bottom: 0.25rem;
    }

    .valid-date-range {
      font-size: 8px;
      text-align: center;
      margin-top: 0.1rem;
      line-height: 1;
    }

    .participant-type {
      color: white;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 0.25rem 0.5rem;
      text-align: center;

      grid-column: span 2;
      align-self: end;
    }
  </style>
{% endblock head %}

{% block front %}
  {% if main_event.event_logo %}
    <img src="{{ main_event.event_logo.url }}" alt="event logo" class="logo" />
  {% else %}
    <img src="{% static 'img/logo.png' %}" alt="ozone logo" class="logo" />
  {% endif %}
  {% qr_from_text qr_url image_format='png' class_names="badge-qr" %}
  <div class="participant-details">
    <div class="first-name">{{ contact.first_name }}</div>
    <div class="last-name">{{ contact.last_name }}</div>
    {% if priority_pass.is_gov %}
      <div class="country">{{ country.name|default:'' }}</div>
    {% else %}
      <div class="organization">{{ organization_name }}</div>
    {% endif %}
  </div>
  <div class="photo">
    <div class="pass-code">{{ priority_pass.code }}</div>
    {% if contact.photo %}
      <img src="{{ contact.photo|file_to_base64 }}" alt="participant photo" />
    {% endif %}
    <div class="valid-date-range">
      {% if priority_pass.valid_date_range %}
        {{ priority_pass.valid_date_range }}
      {% else %}
        NOT REGISTERED
      {% endif %}
    </div>
  </div>
  <div class="participant-type" style="background-color: {{ organization.organization_type.badge_color }}">
    {{ organization.organization_type.badge_display_name|default:"other" }}
  </div>
{% endblock front %}
