{% extends "admin/events/prioritypass/badge/badge_base.html" %}
{% load static %}
{% load qr_code %}
{% load file_base64 %}

{% block head %}
  <style>
    .front {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 0.5rem;
    }

    .badge-logo {
      width: 10rem;
    }

    .qr-code {
      width: 5rem;
      margin-right: 0.5rem;
    }

    .participant-info {
      flex-grow: 1;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 1rem;
      line-height: 1.3;
    }

    .first-name,
    .last-name,
    .country,
    .organization {
      max-width: 16rem;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.2;
    }

    .first-name {
      font-size: 14px;
      max-height: 34px;
    }

    .last-name {
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      max-height: 38px;
    }

    .country {
      margin-top: 0.5rem;
      font-size: 18px;
    }

    .organization {
      font-size: 12px;
      max-height: 58px;
    }

    .participant-photo {
      width: 6rem;
      height: 6rem;
    }

    .valid-date-range {
      margin-top: 0.25rem;
      font-size: 10px;
      text-align: center;
    }

    .participant-type {
      color: white;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 0.25rem 0.5rem;
      text-align: center;
    }
  </style>
{% endblock head %}

{% block front %}
  <div class="header">
    <div class="badge-logo">
      {% if main_event.event_logo %}
        <img src="{{ main_event.event_logo.url }}" alt="event logo" />
      {% else %}
        <img src="{% static 'img/logo.png' %}" alt="ozone logo" />
      {% endif %}
    </div>
    <div class="qr-code">{% qr_from_text qr_url image_format='png' %}</div>
  </div>
  <div class="participant-info">
    <div class="participant-details">
      <div class="first-name">{{ contact.first_name }}</div>
      <div class="last-name">{{ contact.last_name }}</div>
      {% if priority_pass.is_gov %}
        <div class="country">{{ country.name|default:'' }}</div>
      {% else %}
        <div class="organization">{{ organization_name }}</div>
      {% endif %}
    </div>
    <div>
      {% if contact.photo %}
        <div class="participant-photo">
          <img src="{{ contact.photo|file_to_base64 }}" alt="participant photo" />
        </div>
      {% endif %}
      <div class="valid-date-range">{{ priority_pass.valid_date_range }}</div>
    </div>
  </div>
  <div class="participant-type" style="background-color: {{ organization.organization_type.badge_color }}">
    {{ organization.organization_type.badge_display_name|default:"other" }}
  </div>
{% endblock front %}
