<div class="selector" hidden="hidden">
  <select name="{{ widget.name }}" {% include "django/forms/widgets/attrs.html" %}>
    {% for group_name, group_choices, group_index in widget.optgroups %}
      {% if group_name %}
        <optgroup label="{{ group_name }}">
          {% for option in group_choices %}
            {% include option.template_name with widget=option %}
          {% endfor %}
        </optgroup>
      {% else %}
        {% for option in group_choices %}
          {% include option.template_name with widget=option %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </select>
</div>

<div class="overflow-scroll border rounded-2 p-3" style="max-height: 500px;">
  {% for group_name, group_choices, group_index in widget.optgroups %}
    {% for option in group_choices %}
      <div id="member_{{ option.value }}" class="d-flex justify-content-between align-items-center border-bottom p-2">
        <div>{{ option.label }}</div>
        <div>
          <button
            class="btn btn-danger button-danger-shadow remove-member"
            title="Remove member"
            onclick="removeMember({{ option.value }})"
            type="button"
          >
            <i class="bi bi-person-fill-dash"></i>
          </button>
          <button
            class="btn btn-secondary button-gray-shadow undo"
            hidden="hidden"
            title="Undo"
            onclick="undoMember({{ option.value }})"
            type="button"
          >
            <i class="bi bi-arrow-counterclockwise"></i>
          </button>
        </div>
      </div>
    {% endfor %}
  {% endfor %}
</div>

<script>
  function removeMember(val) {
    option = document.querySelector('div.selector option[value="' + val + '"]');
    member = document.getElementById("member_" + val);
    member.getElementsByClassName("remove-member")[0].hidden = true;
    member.getElementsByClassName("undo")[0].hidden = false;
    option.removeAttribute("selected");
    member.style.background = "#F7D4D8";
  }

  function undoMember(val) {
    option = document.querySelector('div.selector option[value="' + val + '"]');
    member = document.getElementById("member_" + val);
    member.getElementsByClassName("remove-member")[0].hidden = false;
    member.getElementsByClassName("undo")[0].hidden = true;
    option.setAttribute("selected", "selected");
    member.style.background = "white";
  }
</script>
