{% extends "admin/base_site.html" %}
{% load static %}
{% load core_extra %}

{% block title %}
  {% if subtitle %}
    {{ subtitle }}
    |
  {% endif %}
  {{ title }}
  | {{ site_title|default:'Ozone Contact DB' }}
{% endblock %}

{% block content_subtitle %}
  {% admin_docs as doc_string %}
  {% if doc_string %}
    <p class="help">{{ doc_string }}</p>
  {% endif %}

  {{ block.super }}
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/admin.css' %}" />
{% endblock %}

{% block extrahead %}
  {% for script_id, script_value in json_scripts.items %}
    {{ script_value|json_script:script_id }}
  {% endfor %}

  <script src="{% static 'js/admin.js' %}"></script>
  <script src="{% static 'js/placeholder_select.js' %}"></script>
{% endblock extrahead %}

{% block branding %}
  <h1 id="site-name">
    <a href="{% url 'admin:index' %}">Ozone Contact DB</a>
  </h1>
  {% if user.is_anonymous %}
    {% include "admin/color_theme_toggle.html" %}
  {% endif %}
{% endblock %}
