{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'admin.css' %}" />
{% endblock %}

{% block userlinks %}
  <a href="{% url 'home' %}">Main Site</a>
  /
  {% if user.has_usable_password %}
    <a href="{% url 'admin:password_change' %}">Change password</a>
    /
  {% endif %}

  <a href="{% url 'two_factor:profile' %}">Security</a>
  /

  <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
    {% csrf_token %}
    <button type="submit">Log out</button>
  </form>

  {% include "admin/color_theme_toggle.html" %}
{% endblock %}
