// app global css in SCSS form

@import "font-face";

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.q-table__top,
thead tr:first-child th {
  background-color: #f0f0f0;
}
