@font-face {
  font-family: "Inter";
  src: url("../assets/font/Inter-VariableFont_opsz,wght.ttf") format("truetype-variations");
  src: url("../assets/font/Inter-VariableFont_opsz,wght.ttf") format("truetype") tech("variations");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/font/Inter-VariableFont_opsz,wght.ttf") format("truetype-variations");
  src: url("../assets/font/Inter-VariableFont_opsz,wght.ttf") format("truetype") tech("variations");
  font-weight: 100 900;
  font-style: italic;
}
