/*
  Constance table looks a bit wonky by default when using field sets.
  Minor tweaks to make it look nicer
*/
.constance table {
  table-layout: fixed;
  max-width: 70rem;
}

.constance table textarea {
  max-width: 100%;
}

.constance table td:last-child,
.constance table th:last-child {
  width: 5rem;
}
