tr {
    cursor: pointer;
}

tbody tr:hover {
    background-color: #fafafa;
}

thead tr th:hover {
    background-color: #f7f7f7;
}

.table-container th.asc:after {
    content: '\0000a0\0025b2';
    float: right;
}

.table-container th.desc:after {
    content: '\0000a0\0025bc';
    float: right;
}