.home-container{
    display: grid;
    grid-template-columns: 75% 25%;
}

.home-container .right-section{
    margin-left: 1.5rem;
}

@media (max-width: 1300px){
    .home-container{
        grid-template-columns: 35% 65%;
    }

}

@media (max-width: 950px){
    .home-container{
        grid-template-columns: 100%;
    }

    .home-container .right-section{
        margin-left: 0;
        margin-top: 1.5rem;
    }
}

.sublist{
    list-style-type: lower-alpha;
}