.contact-container{
    display: grid;
    grid-template-columns: 25% 75%;
}


.contact-container .left-section{
}

.contact-container .right-section{
    margin-left: 1.5rem;
}

.margin-left-subsection{
    margin-left
}

.details-container{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.registrations-container{
    display: grid;
    grid-template-columns: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.registration-details-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

.decorative-circle{
    top: 1.8rem;
    left: 1.8rem;
    color: var(--main-color);
    font-size: 0.8rem;
}


@media (max-width: 1300px){
    .contact-container{
        grid-template-columns: 35% 65%;
    }

}

@media (max-width: 950px){
    .contact-container{
        grid-template-columns: 100%;
    }

    .contact-container .right-section{
        margin-left: 0;
        margin-top: 1.5rem;
    }
}

@media (max-width: 650px){
    .details-container{
        grid-template-columns: 100%;
    }
}

.group-icon {
    color: var(--main-color);
    font-size: 1.2rem;
}

.group-icon-wrapper{
    width: 15px;
    height: 15px;
}

.group-container{
    background: white;
}

.group-container:hover{
    background-color: #E8E8E8;
}