.text-toggle[aria-expanded=false] .text-expanded {
  display: none;
}

.text-toggle[aria-expanded=true] .text-collapsed {
  display: none;
}

.inner-container{
    min-width: 600px;
}

#myDialog{
    border: none;
    max-width: 650px;
}