

<div class="my-2">
    <div class="label">
        {{ field_name|title }}
    </div>
    {% if is_list %}
        <div>
            {% if field|length > 0 %}
                {% for item in field %}
                <div class="fw-bold {% if item not in compare_field %} text-danger {% else %} text-success {% endif %}">
                    {{ item }}
                </div>
                {% endfor %}
            {% else %}
                <span class="fw-bold fst-italic {% if compare_field|length > 0 %} text-danger {% else %} text-success {% endif %}">None</span>
            {% endif %}
        </div>
    {% else %}
        <div class="fw-bold {% if field != compare_field %} text-danger {% else %} text-success {% endif %}">
            {% if field %}
                {{ field }}
            {% else %}
                <span class="fst-italic">None</span>
            {% endif %}
        </div>
    {% endif %}
</div>