<div class="my-2">
  <div class="label">Email Tags</div>
  <div class="text-muted">
    To use a tag in the email you can write the tag in the title/content field,<br />
    or use the corresponding buttons to insert it
  </div>
  <div class="p-5 rounded-2 border overflow-scroll" style="max-height: 365px;">
    {% for tag in email_tags %}
      <div class="d-flex flex-nowrap align-items-center my-2 gap-3 ">
        <div class="fw-bold">{{ tag }}</div>
        <button class="btn btn-light" onclick="addTagToEmailTitle('{{ tag }}')" type="button">Add tag to title</button>
        <button class="btn btn-secondary" onclick="addTagToEmailBody('{{ tag }}')" type="button">
          Add tag to body
        </button>
      </div>
    {% endfor %}
  </div>
</div>
