
<div class="m-3">
    <div class="fs-2">
        {{ field_name }}
    </div>
    {% if is_list %}
        <div>
            {% if field|length > 0 %}
                {% for item in field %}
                    {% if is_email %}
                        <a href="mailto:{{ item }}" class="text-decoration-none d-block">{{ item }}</a>
                    {% else %}
                        <div class="d-block">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <span class="text-muted">None</span>
            {% endif %}
        </div>
    {% elif is_bool %}
        <div class="{% if field %} text-success {% else %} text-danger {% endif %}">
            {{ field }}
        </div>
    {% else %}
        <div class="text-break">
            {% if field %}
                {{ field }}
            {% else %}
                <span class="text-muted">None</span>
            {% endif %}
        </div>
    {% endif %}
</div>
