

    <div class="{% if small_label %}label{% else %}fs-2 mb-3{% endif %}">
        {{ field_name|title }}
    </div>
    {% if is_list %}
        <div>
            {% if field|length > 0 %}
                {% for item in field %}
                    {% if is_email %}
                        <a href="mailto:{{ item }}" class="text-decoration-none d-block {{ class_names }}">{{ item }}</a>
                    {% else %}
                        <div class="d-block {{ class_names }}">{{ item }}</div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <span class="text-muted">-------</span>
            {% endif %}
        </div>
    {% elif is_bool %}
        <div class="{% if field %} text-success {% else %} text-danger {% endif %} {{ class_names }}">
            {% if field %}
                <i class="bi bi-check-lg fs-5"></i>
            {% else %}
                <i class="bi bi-x-lg fs-5"></i>
            {% endif %}
        </div>
    {% elif is_main_contact %}
        <a href="{% url 'contact-detail' field.id %}" class="text-decoration-none d-block {{ class_names }}">{{ field }}</a>
    {% else %}
        <div class="text-break">
            {% if field %}
                <div class="{{ class_names }}">{{ field }}</div>
            {% else %}
                <span class="text-muted">-------</span>
            {% endif %}
        </div>
    {% endif %}

