{% load custom_tags %}

<table class="mb-3">
  {{ wizard.management_form }}

  {% if wizard.form.errors %}
    {% for error in wizard.form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
  {% endif %}

  {% for field in wizard.form %}
    <div class="form-floating mb-4">
      {{ field|add_classes:'form-control' }}
      <label for="{{ field.auto_id }}">{{ field.label }}</label>
        {% for error in field.errors %}
            <div class="text-danger my-1">
                {{ error|escape }}
            </div>
        {% endfor %}
    </div>

  {% endfor %}

    {% if wizard.steps.current == 'auth' %}
      <a href="{% url 'password_reset' %}">Forgot your password?</a>
    {% endif %}

</table>
